<h1>Infovis Beervisualizer</h1>
<span id="nested">beerstyles > categories > <a href="/">beer </a><span *ngIf="selectedCat"> > {{selectedCat}}</span><span *ngIf="selectedSubCat"> > {{selectedSubCat}}</span></span>
<!-- <p>Available: 'Belgian Ale - Pale / Golden / Single' 'Belgian Ale - Strong Dark'
	'Bock - Doppelbock' 'Belgian Ale - Strong Pale'
	'Bière de Garde / de Mars / Brut' 'Dubbel' 'Quadrupel / Abt'
	'Saison / Farmhouse - Dark' 'Saison / Farmhouse - Flavored'
	'Saison / Farmhouse / Grisette' 'Tripel'
	'Amber Lager - Czech / Polotmavý' 'Pilsener / Pils / Pilsner' 'IPA'
	'Berliner Weisse' 'Lambic - Gueuze' 'Weissbier - Hefeweizen'
	'Weissbier - Weizenbock' 'Witbier / Belgian White Ale' 'Porter'
	'Stout - Imperial' 'Stout - Imperial Flavored / Pastry'</p> -->
<div id="vis-container"></div>