<div class="upset-popup">
    <div class="upset-popup__title">
        <h2 mat-dialog-title>Beers with same flavors</h2>
        <button class="close" mat-mini-fab color="warn" (click)="close()">X</button>
    </div>
    <div class="upset-popup__similar-beers-container" *ngFor="let beer of upsetBeerList | async">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img class="beer-details--similar-item" [src]="beer.img_url" style="max-height: 50px" />{{beer.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{beer.abv | number}} %
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{beer.description}}</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>