.beer-categories {
    &__title {
        display: flex;
        h2 {
            margin-right: 8px;
        }
        mat-icon {
            margin-top: 8px;
            color: #a39e9e;
        }
    }
    &__graph-container {
        display: flex;
        flex-wrap: wrap;
    }
    &__graph {
        width: 29%;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        &--selected {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }
    }
    h2 {
        font-weight: 300;
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
    }
    h2:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #4e4a4a;
    }
    &__legenda {
        display: flex;
        margin-bottom: 24px;
        flex-direction: row;
        font-size: 8pt;
        line-height: 12px;
        height: 100%;
        b {
            text-decoration: underline;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &--flavor {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
    &--flavor-box {
        height: 8px;
        width: 8px;
        margin-right: 8px;
    }
    .earth {
        background-color: #73AF48;
    }
    .roasted-burnt {
        background-color: #5F4690;
    }
    .herbs-spices {
        background-color: #38A6A5;
    }
    .minerals {
        background-color: #E17C05;
    }
    .fruit {
        background-color: #94346E;
    }
    .flower {
        background-color: #666666;
    }
    .pastry {
        background-color: #994E95;
    }
}