.beer-categories {
    &__graph-container {
        display: flex;
        flex-wrap: wrap;
    }
    &__graph {
        width: 29%;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        &--selected {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }
    }
    h2 {
        font-weight: 300;
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
    }
    h2:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #4e4a4a;
    }
}