.beer-explorer {
    padding: 24px;
    color: #4e4a4a;
    &__header {
        display: flex;
    }
    &__content {
        display: flex;
        flex-direction: row;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        h2 {
            font-weight: 300;
            display: inline-block;
            padding-bottom: 5px;
            position: relative;
        }
        h2:before {
            content: "";
            position: absolute;
            width: 40px;
            height: 1px;
            bottom: 0;
            left: 0;
            border-bottom: 2px solid #4e4a4a;
        }
    }
    &__broad-categories {
        width: 30%;
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
    &__beer-styles {
        width: 30%;
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
    &__beers {
        width: 40%;
        margin: 0 24px;
        @media (max-width: 1024px) {
            width: 70%;
            margin: 0;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__legenda {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        font-size: 8pt;
        line-height: 12px;
        // background-color: rgba(0, 0, 0, .04);
        // padding: 4px;
        height: 100%;
        b {
            text-decoration: underline;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &--flavor {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
    &--flavor-box {
        height: 8px;
        width: 8px;
        margin-right: 8px;
    }
    .earth {
        background-color: #73AF48;
    }
    .roasted-burnt {
        background-color: #5F4690;
    }
    .herbs-spices {
        background-color: #38A6A5;
    }
    .minerals {
        background-color: #E17C05;
    }
    .fruit {
        background-color: #94346E;
    }
    .flower {
        background-color: #666666;
    }
    .pastry {
        background-color: #994E95;
    }
}