.beer-list {
    &__rotate-name {
        transform: rotate(-60deg);
        border-bottom: none;
    }
    table {
        width: 100%;
        margin-top: 60px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        .mat-header-row {
            border-bottom: 1px solid rgb(121, 118, 118) !important;
            height: auto;
        }
        .mat-sort-header {
            white-space: nowrap;
            overflow: visible;
            height: auto;
            max-width: 10px;
            margin-bottom: 1px;
        }
        .mat-cell {
            padding-left: 4px;
        }
        .mat-row {
            height: 16px;
        }
    }
    &--bold-row {
        font-weight: 900;
        width: 50px;
    }
    &--selected {
        background-color: rgb(212, 238, 197);
    }
    &--title {
        margin-bottom: 3px;
        margin-left: 6px;
    }
    &--pointer {
        cursor: pointer;
    }
}

h2 {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

h2:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #4e4a4a;
}

.box {
    height: 10px;
    width: 10px;
    background-color: #e4dede;
}

.earth {
    background-color: #73AF48;
}

.roasted-burnt {
    background-color: #5F4690;
}

.herbs-spices {
    background-color: #38A6A5;
}

.minerals {
    background-color: #E17C05;
}

.fruit {
    background-color: #94346E;
}

.flower {
    background-color: #666666;
}

.pastry {
    background-color: #994E95;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 2px;
}

.hide {
    display: none;
}