<div class="beer-list">
    <div class="beer-list__title">
        <h2>Beers <span *ngIf="selectedCategory">({{selectedCategory}})</span></h2>
        <mat-icon matTooltip="Browse the beers in a selected beer subcategory using this table.
		Filter the entries by minimum rating or alcohol content, otherwise click any of the column headings of the table to sort the table by the rating, alcohol by volume, or any of the flavor groups present.
		Clicking on any row will select a beer, and open up the similar beers menu on the right.">info</mat-icon>
    </div>
    <div [class.hide]="!beerList.length">
        <div class="beer-list__filters">
            <b>Filters:</b>
            <div class="beer-list__abv-form">
                <p>Min. rating:</p>
                <mat-slider [max]="maxRating" [min]="minRating" [step]="0.1" [value]="minRating" [thumbLabel]="true" (change)="updateRating($event)">
                </mat-slider>
            </div>

            <form class="beer-list__abv-form" [formGroup]="abvForm" (change)="updateAbv()">
                <p class="beer-list__to">ABV:</p>
                <input type="number" [min]="minAbv | number: '1.0-1'" max="maxAbv" step="0.1" formControlName="minAbvControl" placeholder="min" matInput>
                <span class="beer-list__to">to</span>
                <input type="number" [min]="minAbv | number: '1.0-1'" max="maxAbv" step="0.1" formControlName="maxAbvControl" placeholder="max" matInput>%
            </form>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td class="beer-list--pointer" (click)="emitBeer(element)" mat-cell *matCellDef="let element" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id">
                    {{element.name}}
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="abv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ABV </th>
                <td mat-cell *matCellDef="let element" class="beer-list--bold-row" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id"> {{element.abv | number: '1.0-1'}}% </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="earth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="beer-list__rotate-name">
                    <span class="beer-list--title">Earth</span>
                </th>
                <td mat-cell *matCellDef="let element" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id">
                    <div class="box" [class.earth]="element.earth"></div>
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="minerals">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="beer-list__rotate-name">
                    <span class="beer-list--title">Minerals</span>
                </th>
                <td mat-cell *matCellDef="let element" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id">
                    <div class="box" [class.minerals]="element.minerals"></div>
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="fruit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="beer-list__rotate-name">
                    <span class="beer-list--title">Fruit</span>
                </th>
                <td mat-cell *matCellDef="let element" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id">
                    <div class="box" [class.fruit]="element.fruit"></div>
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="pastry">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="beer-list__rotate-name">
                    <span class="beer-list--title">Pastry</span>
                </th>
                <td mat-cell *matCellDef="let element" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id">
                    <div class="box" [class.pastry]="element.pastry"></div>
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="herbs_spices">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="beer-list__rotate-name">
                    <span class="beer-list--title">Herbs & spices </span></th>
                <td mat-cell *matCellDef="let element" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id">
                    <div class="box" [class.herbs-spices]="element.herbs_spices"></div>
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="roasted_burnt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="beer-list__rotate-name">
                    <span class="beer-list--title">Roasted & burnt </span></th>
                <td mat-cell *matCellDef="let element" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id">
                    <div class="box" [class.roasted-burnt]="element.roasted_burnt"></div>
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="flower">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="beer-list__rotate-name">
                    <span class="beer-list--title">Flower</span> </th>
                <td mat-cell *matCellDef="let element" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id">
                    <div class="box" [class.flower]="element.flower"></div>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
                <td mat-cell *matCellDef="let element" class="beer-list--bold-row" [class.beer-list--selected]="element.beer_id === clickedBeer.beer_id"> {{element.rating | number: '1.0-1'}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[20, 40, 100]" showFirstLastButtons></mat-paginator>
    </div>
    <div [class.hide]="beerList.length">
        <p>Please select a beer subcategory</p>
    </div>
</div>