.beer-styles {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__pop-up {
        cursor: pointer;
        img {
            width: 20px;
        }
    }
    h2 {
        font-weight: 300;
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
    }
    h2:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #4e4a4a;
    }
}