.beer-styles {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__pop-up {
        cursor: pointer;
        img {
            width: 20px;
        }
    }
    h2 {
        font-weight: 300;
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
    }
    h2:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #4e4a4a;
    }

    &__upsetChart-container {
        display: grid;
        grid-auto-columns: min-content;
        // grid-template-rows: min-content auto;
        grid-template: ". a"
                       "b c";

    }

    &__upsetChart-header {
        grid-area: a;
    }

    &__upsetChart-options {
        grid-area: b;
        margin: 0 1em;
    }

    &__upsetChart-chart {
        grid-area: c;
    }

    &__grid-header {
        display: flex;
        flex-direction: row;
    }

    &__grid-flavor {
        // height: 100px;
        display: table;
        border: 0;
        padding-top: 30px;
        
        
        &__text-container {
            padding: 50% 0 !important;
            height: 0;
            text-align: center;
        }

        &__label {
            display: block;
            transform: translate(-130%) rotate(300deg);
            margin-top: -50%;
            white-space: nowrap;
            width: 20px;
        }
    }

    &__dotgrid {
        display: flex;
        align-items: center;
    }

    &__arrow-box {
        padding: 0 4px;
        margin: 3px;
        text-align: center;
        width: 1.7em;
        border: 1px solid #E4DEDE;
        font-size: .8em;
        position: relative;
        border-radius: 3px;

        &:hover {
            font-weight: 600;
            margin-left: 5px;
            cursor: pointer;
        }
    }
    
    
}

