<div class="beer-details">
	<div class="beer-details__title">
		<h2 mat-dialog-title>{{data.name}}</h2> 
		<button class="close" mat-mini-fab color="warn" (click)="close()">X</button>
	</div>
	<mat-tab-group mat-align-tabs="start">
		<mat-tab label="General Info">
			<div class="beer-details__container">
				<ng-container>
					{{data.description}}
				</ng-container>
				<img [src]="data.img_url">
			</div>
		</mat-tab>
		<mat-tab label="Details">
			<div class="beer-details__details-container">
				<div class="beer-details__details" role="listitem">
					<span class="beer-details--bold">ABV:</span> 
					<span>{{data.abv | number}}%</span>
				</div>
				<div class="beer-details__details" role="listitem">
					<span class="beer-details--bold">Style:</span> 
					<span>{{data.style}}</span>
				</div>
				<div class="beer-details__details" role="listitem">
					<span class="beer-details--bold">Calories:</span> 
					<span>{{data.calories}}</span>
				</div>
			</div> 
		</mat-tab>
		<mat-tab label="Flavors">Add flavors here</mat-tab>
	  </mat-tab-group>

</div>