<div class="beer-details">
    <div class="beer-details__title">
        <h2 mat-dialog-title>{{data.name}}</h2>
        <button class="close" mat-mini-fab color="warn" (click)="close()">X</button>
    </div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="General Info">
            <div class="beer-details__container">
                <ng-container>
                    {{data.description}}
                </ng-container>
                <img [src]="data.img_url">
            </div>
        </mat-tab>
        <mat-tab label="Details">
            <div class="beer-details__details-container">
                <div class="beer-details__details" role="listitem">
                    <span class="beer-details--bold">ABV:</span>
                    <span>{{data.abv | number}}%</span>
                </div>
                <div class="beer-details__details" role="listitem">
                    <span class="beer-details--bold">Style:</span>
                    <span>{{data.broad_category}} / {{data.sub_category}} / {{data.beerstyle}}</span>
                </div>
                <div class="beer-details__details" role="listitem">
                    <span class="beer-details--bold">Calories:</span>
                    <span>{{data.calories}}</span>
                </div>
                <div class="beer-details__details" role="listitem">
                    <span class="beer-details--bold">Rating:</span>
                    <span>{{data.rating}}</span>
                </div>
                <div *ngIf="data.flavors" class="beer-details__details" role="listitem">
                    <span class="beer-details--bold">Flavors:</span>
                    <span>{{displayFlavors(data.flavors)}}</span>
                </div>
                <div *ngIf="data.sub_flavors" class="beer-details__details" role="listitem">
                    <span class="beer-details--bold">Sub-flavors:</span>
                    <span>{{displayFlavors(data.sub_flavors)}}</span>
                </div>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Flavors">Add flavors here</mat-tab> -->
        <mat-tab label="Similar Beers">
            <div *ngIf="similarReviewedBeers.length; else noReviewsBlock">
                <h3>Users who like {{data.name}} also enjoyed:</h3>
                <div class="beer-details__similar-beers-container" *ngFor="let similarReviewedBeer of similarReviewedBeers; let i = index">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{i+1}}. <img class="beer-details--similar-item" [src]="similarReviewedBeer.beer.img_url" style="max-height: 50px" />{{similarReviewedBeer.beer.name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    enjoyed by {{similarReviewedBeer.similarity}} users!
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>{{similarReviewedBeer.beer.description}}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

            </div>
            <ng-template #noReviewsBlock>
                <h3>There are no reviews for this beer.</h3>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</div>