.beer-details {
    &__container {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
    }
    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__details-container {
        margin-top: 16px;
        width: 80%;
        margin-left: 10%;
    }
    &__similar-beers-container {
        display: flex;
        align-items: center;
    }
    &--similar-item {
        margin: 0 8px 0 0;
    }
    &__details {
        display: flex;
        justify-content: space-between;
    }
    &--bold {
        font-weight: bold;
    }
    mat-expansion-panel,
    mat-accordion {
        justify-items: center;
        margin: 5px;
        width: 100%;
    }
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
        align-items: center;
    }
}